@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{
    background: linear-gradient(#bb86fc,#3700b3);
}
.container{
    width: 600px;
    height: 1000sópx;
    background-color: #f2e7fe;
    margin: 10px auto;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 15px 30px #6200ee;
}
.container h1{
    color: #6200ee;
    padding: 15px 0;
    text-transform: uppercase;
    text-align: center;
}
.info-top{
    background-color: #dbb2ff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 15px;
    color: rgb(63, 63, 63);
}
.block{
    width: 150px;
    height: 100px;
    margin-right: 20px;
}
.lista li{
    margin: 5px 40px;
    font-weight: bold;
    color: #bb86fc;
    list-style: square;
}
.lista a{
    color: #6200ee;
    text-decoration: none;
}
.lista h2{
    color: #6200ee;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0;
}
.rodape{
    text-align: center;
    padding: 20px;
    background: #bb86fc;
    font-weight: bold;
    text-transform: uppercase;
    color: #3700b3;
    font-size: 1.3rem;
}